.swipebuttons{
    position: absolute;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.swipebuttons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}
.swipebutton_repeat{
    padding: 3vw !important;
    color:rgb(184, 184, 22) !important;
}
.swipebutton_left{
    padding: 3vw !important;
    color:red !important;
}
.swipebutton_star{
    padding: 3vw !important;
    color:lightblue !important;
}
.swipebutton_right{
    padding: 3vw !important;
    color:rgb(106, 153, 106) !important;
}
.swipebutton_light{
    padding: 3vw !important;
    color:purple !important;
}